@charset "urf-8";
body{
    margin: 0;
    font-family: sans-serif;
}
h1{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    background-color: lightgray;
    margin: 0;
    padding: .7em;
}
main{
    padding: 1em;
    text-align: center;
}
p{
    font-size: 1.3em;
    text-decoration: underline;
}