*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d6d6d6;
    font-family: sans-serif;
}
header{
    background-color: #14144d;
    padding: 1em;
}
header > h1{
    color: white;
    text-align: center;
    font-weight: normal;
}
main{
    background-color: white;
    width: 85%;
    margin: auto;
    padding: 1em;
    border-radius: 0 0 .4rem .4rem;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.350);
    line-height: 1.5;
}
#div1, #div2{
    background-color: green;
    color: white;
    text-transform: uppercase;
    height: 10em;
    width: 15em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div2{
    margin-top: 2em;
}
#calc{
    margin: 2em 0;
}
input{
    width: 5em;
    padding: .2em;
}