*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d6d6d6;
    font-family: sans-serif;
}
header{
    background-color: #14144d;
    padding: 1em;
}
header > h1{
    color: white;
    text-align: center;
    font-weight: normal;
}
main{
    background-color: white;
    width: 85%;
    height: 80vh;
    margin: auto;
    padding: 1em 0;
    border-radius: 0 0 .4rem .4rem;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.350);
}
div{
    margin: .5em 0 0 0;
    padding: 1em 1.5em;
    text-align: center;
    font-weight: bold;
}
footer{
    background-color: #14144d;
    color: lightgray;
    padding: 1em;
    text-align: center;
    margin: 1em 0 0 0;
}
footer a{
    color: white;
}